<!DOCTYPE html>
<html lang="en">
<head>
<title>Jaipur</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Travelix Project">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="static/styles/bootstrap4/bootstrap.min.css">
<link href="static/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="static/styles/offers_styles.css">
<link rel="stylesheet" type="text/css" href="static/styles/offers_responsive.css">
	 <style>
		        p{text-align: justify;}
		        </style>
</head>

<body>

<div class="super_container">
	
	<!-- Header -->

	<header class="header">

		<!-- Top Bar -->

		

		<!-- Main Navigation -->

		<nav class="main_nav">
			<div class="container">
				<div class="row">
					<div class="col main_nav_col d-flex flex-row align-items-center justify-content-start">
						
						<div class="col-md-12">
						<div class="main_nav_container ml-auto">
							<ul class="main_nav_list">
								<li class="main_nav_item"><a href="{{url_for('index')}}">HOME</a></li>
								
								</a></li>
								
							</ul>
						</div>
						</div>
						

						<form id="search_form" class="search_form bez_1">
							<input type="search" class="search_content_input bez_1">
						</form>
						
						<div class="hamburger">
							<i class="fa fa-bars trans_200"></i>
						</div>
					</div>
				</div>
			</div>	
		</nav>

	</header>

	<div class="menu trans_500">
		<div class="menu_content d-flex flex-column align-items-center justify-content-center text-center">
			<div class="menu_close_container"><div class="menu_close"></div></div>
			<div class="logo menu_logo"><a href="#"><img src="images/logo.png" alt=""></a></div>
			<ul>
				<li class="menu_item"><a href="{{url_for('index')}}">home</a></li>
				
			</ul>
		</div>
	</div>

	<!-- Home -->

	<div class="home">
		<div class="home_background parallax-window" data-parallax="scroll" data-image-src="static/images/jaipur.jpg"></div>
		
	</div>

	<!-- Offers -->

	<div class="offers">

		<!-- Search -->

		<div class="search">
			<div class="search_inner">

				<!-- Search Contents -->
				
				<div class="container fill_height no-padding">
					<div class="row fill_height no-margin">
						<div class="col fill_height no-padding">

							<!-- Search Tabs --><div class="home_title"><center>Jaipur</center></div>
				

								
							</div>

							<!-- Search Panel -->

							<div class="search_panel active">
								
							</div>
						</div>
					</div>
				</div>	
			</div>	
		</div>

		<!-- Offers -->

		<div class="container">
			<div class="row">
				<div class="col-lg-1 temp_col"></div>
				<div class="col-lg-11">
					
					<!-- Offers Sorting -->
					
				</div>

				<div class="col-lg-12">
					<!-- Offers Grid -->

					<div class="offers_grid">

						<!-- Offers Item -->

						<div class="offers_item rating_4">
							<div class="row">
								<div class="col-lg-1 temp_col"></div>
								<div class="col-lg-3 col-1680-4">
									<div class="offers_image_container">
										<!-- Image by https://unsplash.com/@kensuarez -->
										<div class="offers_image_background" style="background-image:url(static/images/pinl.jpg)"></div>
										<div class="offer_name"><a href="single_listing.html">Pink City</a></div>
									</div>
								</div>
								<div class="col-lg-8">
									<div class="offers_content">
										<div class="offers_price">Pink City</div>
										<div class="rating_r rating_r_4 offers_rating" data-rating="4">
											<i></i>
											<i></i>
											<i></i>
											<i></i>
											<i></i>
										</div>
										<div class="offers_text">
											<p>Pink City in Jaipur refers to the old walled city that was built in the year 1727 by Maharaja Jai Singh II. The wall that marks the boundary of the Pink City is about six metres high and three metres thick and encompasses a number of structures within its confines. In keeping with the magnificence of the structure, there are seven different gates that provide access to the Old City, namely Chand Pol, Suraj Pol, Ajmeri Gate, New Gate, Sanganeri Gate, Ghat Gate, Samrat Gate and Zorawar Singh Gate. Built about 275 years ago, today it presents the glorious past of our country through its culture and architecture. The city is known as 'Pink City' as it is built out of Sandstone and reflects the colour pink in the daytime.
</p></div>
										
										<div class="button book_button"><a href="https://www.holidify.com/places/jaipur/pink-city-sightseeing-8009.html">Know more<span></span><span></span><span></span></a></div>
										
									</div>
								</div>
							</div>
						</div>

						<!-- Offers Item -->

						<div class="offers_item rating_3">
							<div class="row">
								<div class="col-lg-1 temp_col"></div>
								<div class="col-lg-3 col-1680-4">
									<div class="offers_image_container">
										<!-- Image by https://unsplash.com/@thoughtcatalog -->
										<div class="offers_image_background" style="background-image:url(static/images/amer.jpg)"></div>
										<div class="offer_name"><a href="single_listing.html">Amer Fort</a></div>
									</div>
								</div>
								<div class="col-lg-8">
									<div class="offers_content">
										<div class="offers_price">Amer Fort</div>
										<div class="rating_r rating_r_3 offers_rating" data-rating="3">
											<i></i>
											<i></i>
											<i></i>
											<i></i>
											<i></i>
										</div>
										<p class="offers_text">In the Pink City of Jaipur, cradled on the top of the Aravali Hill lies the Amer Fort, one of the most magnificent palaces in India. Also commonly known as the Amer Fort, this majestic building with its maze-like passages and serpentine staircases is an architectural masterpiece and with significant importance in Indian history. Only 11 kilometres away from the capital city of Jaipur, Amer Fort is clad in pink and yellow sandstone and is a part of an extensive complex. Built by one of the most trusted generals of Akbar, Maharaja Man Singh I in the year 1592, Amer Fort served as the main residence of the Rajput Rulers.

</p>
										
										<div class="button book_button"><a href="https://www.holidify.com/places/jaipur/amer-fort-sightseeing-2124.html">Know more<span></span><span></span><span></span></a></div>
									</div>
								</div>
							</div>
						</div>

						<!-- Offers Item -->

						<div class="offers_item rating_5">
							<div class="row">
								<div class="col-lg-1 temp_col"></div>
								<div class="col-lg-3 col-1680-4">
									<div class="offers_image_container">
										<!-- Image by https://unsplash.com/@mindaugas -->
										<div class="offers_image_background" style="background-image:url(static/images/na.jpg)"></div>
										<div class="offer_name"><a href="#">Nahargarh Fort</a></div>
									</div>
								</div>
								<div class="col-lg-8">
									<div class="offers_content">
										<div class="offers_price">Nahargarh Fort</div>
										<div class="rating_r rating_r_5 offers_rating"  data-rating="5">
											<i></i>
											<i></i>
											<i></i>
											<i></i>
											<i></i>
										</div>
										<p class="offers_text">Nahargarh Fort is located in the Pink City of Jaipur and is one of the many countless palaces and beautiful historic buildings that speak of the magnificent and rich history of this city. Embellished with delicate carvings and stonework, the Nahargarh Fort is an impregnable structure, that together with its two neighbouring forts - Amer and Jaigarh, once stood as the strong defence of Jaipur city. The Fort was built by Maharaja Sawai Jai Singh II in the year 1734 as a retreat. With some breathtaking views of the city, the Nahargarh Fort is known for its extended wall that connects it to Jaigarh Fort.
The fort is located on top of a hill and you can hire a cab or autorickshaw to the foot of the hill and trek the rest of the way.</p>
										
										<div class="button book_button"><a href="https://www.holidify.com/places/jaipur/nahargarh-fort-sightseeing-2136.html">Know more<span></span><span></span><span></span></a></div>
										
									<div class="offer_reviews">
											
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="offers_item rating_3">
							<div class="row">
								
							</div>
						</div>

					</div>
				</div>

			</div>
		</div>		
	</div>	<!-- Footer -->

	<footer class="footer">
		<div class="container">
			
		</div>
	</footer>

	<!-- Copyright -->

	

</div>

<script src="static/js/jquery-3.2.1.min.js"></script>
<script src="static/styles/bootstrap4/popper.js"></script>
<script src="static/styles/bootstrap4/bootstrap.min.js"></script>
<script src="static/plugins/Isotope/isotope.pkgd.min.js"></script>
<script src="static/plugins/easing/easing.js"></script>
<script src="static/plugins/parallax-js-master/parallax.min.js"></script>
<script src="static/js/offers_custom.js"></script>

</body>

</html>