<!DOCTYPE html>
<html lang="en">
<head>
<title>Agra</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Travelix Project">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="static/styles/bootstrap4/bootstrap.min.css">
<link href="static/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="static/styles/offers_styles.css">
<link rel="stylesheet" type="text/css" href="static/styles/offers_responsive.css">
	 <style>
		        p{text-align: justify;}
		        </style>
</head>

<body>

<div class="super_container">
	
	<!-- Header -->

	<header class="header">

		<!-- Top Bar -->

		

		<!-- Main Navigation -->

		<nav class="main_nav">
			<div class="container">
				<div class="row">
					<div class="col main_nav_col d-flex flex-row align-items-center justify-content-start">
						
						<div class="col-md-12">
						<div class="main_nav_container ml-auto">
							<ul class="main_nav_list">
								<li class="main_nav_item"><a href="{{url_for('index')}}">HOME</a></li>
								
								</a></li>
								
							</ul>
						</div>
						</div>
						

						<form id="search_form" class="search_form bez_1">
							<input type="search" class="search_content_input bez_1">
						</form>
						
						<div class="hamburger">
							<i class="fa fa-bars trans_200"></i>
						</div>
					</div>
				</div>
			</div>	
		</nav>

	</header>

	<div class="menu trans_500">
		<div class="menu_content d-flex flex-column align-items-center justify-content-center text-center">
			<div class="menu_close_container"><div class="menu_close"></div></div>
			<div class="logo menu_logo"><a href="#"><img src="images/logo.png" alt=""></a></div>
			<ul>
				<li class="menu_item"><a href="{{url_for('index')}}">home</a></li>
				
			</ul>
		</div>
	</div>

	<!-- Home -->

	<div class="home">
		<div class="home_background parallax-window" data-parallax="scroll" data-image-src="static/images/man.jpg"></div>
		
	</div>

	<!-- Offers -->

	<div class="offers">

		<!-- Search -->

		<div class="search">
			<div class="search_inner">

				<!-- Search Contents -->
				
				<div class="container fill_height no-padding">
					<div class="row fill_height no-margin">
						<div class="col fill_height no-padding">

							<!-- Search Tabs --><div class="home_title"><center>Manali</center></div>
				

								
							</div>

							<!-- Search Panel -->

							<div class="search_panel active">
								
							</div>
						</div>
					</div>
				</div>	
			</div>	
		</div>

		<!-- Offers -->

		<div class="container">
			<div class="row">
				<div class="col-lg-1 temp_col"></div>
				<div class="col-lg-11">
					
					<!-- Offers Sorting -->
					
				</div>

				<div class="col-lg-12">
					<!-- Offers Grid -->

					<div class="offers_grid">

						<!-- Offers Item -->

						<div class="offers_item rating_4">
							<div class="row">
								<div class="col-lg-1 temp_col"></div>
								<div class="col-lg-3 col-1680-4">
									<div class="offers_image_container">
										<!-- Image by https://unsplash.com/@kensuarez -->
										<div class="offers_image_background" style="background-image:url(static/images/santuary.jpg)"></div>
										<div class="offer_name"><a href="single_listing.html">Manali Sanctuary</a></div>
									</div>
								</div>
								<div class="col-lg-8">
									<div class="offers_content">
										<div class="offers_price">Manali Sanctuary</div>
										<div class="rating_r rating_r_4 offers_rating" data-rating="4">
											<i></i>
											<i></i>
											<i></i>
											<i></i>
											<i></i>
										</div>
										<div class="offers_text">
											<p>The Manali Sanctuary is a wildlife sanctuary in Himachal Pradesh in northern India. The sanctuary starts about 2 km from Manali. It is the catchment of Manalsu khad. A path from Manali log huts and Dhungri temple passes through dense Deodar, Kail, Horse chestnut, Walnut and Maple forests.</p></div>
										
										<div class="button book_button"><a href="https://www.tajmahal.gov.in/">Know more<span></span><span></span><span></span></a></div>
										
									</div>
								</div>
							</div>
						</div>

						<!-- Offers Item -->

						<div class="offers_item rating_3">
							<div class="row">
								<div class="col-lg-1 temp_col"></div>
								<div class="col-lg-3 col-1680-4">
									<div class="offers_image_container">
										<!-- Image by https://unsplash.com/@thoughtcatalog -->
										<div class="offers_image_background" style="background-image:url(static/images/rou.jpg)"></div>
										<div class="offer_name"><a href="single_listing.html">Rohtang Pass</a></div>
									</div>
								</div>
								<div class="col-lg-8">
									<div class="offers_content">
										<div class="offers_price">Rohtang Pass</div>
										<div class="rating_r rating_r_3 offers_rating" data-rating="3">
											<i></i>
											<i></i>
											<i></i>
											<i></i>
											<i></i>
										</div>
										<p class="offers_text">When planning a trip to Manali, a day off to the vista point of Rohtang Pass is the ultimate and almost essential attraction of the itinerary. Located at a distance of just 51 kilometres from the main town, Rohtang Pass can be reached only by road. The pass is located at a massive height of 3978 metres, the way up the hills is a treat to the eyes. As the vehicle climbs higher on the Manali- Keylong road, the beauty of the landscape around will leave you awestruck. A peculiar fact behind the name of the place is that it was named so because a number of people working in CBRE died whilst trying to cross this treacherous stretch. Owing to its splendid natural beauty, Rohtang Pass is a favourite among the community of film directors. Many blockbusters ranging from 'Jab We Met' to 'Yeh Jawani Hai Deewani' have been shot here.  </p>
										
										<div class="button book_button"><a href="https://www.agrafort.gov.in/indexNew/index.html">Know more<span></span><span></span><span></span></a></div>
									</div>
								</div>
							</div>
						</div>

						<!-- Offers Item -->

						<div class="offers_item rating_5">
							<div class="row">
								<div class="col-lg-1 temp_col"></div>
								<div class="col-lg-3 col-1680-4">
									<div class="offers_image_container">
										<!-- Image by https://unsplash.com/@mindaugas -->
										<div class="offers_image_background" style="background-image:url(static/images/hadimba.jpg)"></div>
										<div class="offer_name"><a href="#">Hadimba Temple</a></div>
									</div>
								</div>
								<div class="col-lg-8">
									<div class="offers_content">
										<div class="offers_price">Hadimba Temple</div>
										<div class="rating_r rating_r_5 offers_rating"  data-rating="5">
											<i></i>
											<i></i>
											<i></i>
											<i></i>
											<i></i>
										</div>
										<p class="offers_text">Located amidst the snow-covered hills of Manali, the Hadimba Temple is a unique shrine dedicated to Hidimba Devi, who was the wife of Bhima and mother of Ghatothkach. Surrounded by gorgeous cedar forests, this beautiful shrine is built on a rock which is believed to be in the image of goddess Hidimba herself. The construction style of the Hidimba Devi temple is entirely different from that of any of the other temples, with its wooden doorways, walls, and cone-shaped roof. This temple is a fitting dedication to its presiding deity Hadimba.</p>
										
										<div class="button book_button"><a href="https://www.tajmahal.gov.in/ticketing1.html">Know more<span></span><span></span><span></span></a></div>
										
									<div class="offer_reviews">
											
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="offers_item rating_3">
							<div class="row">
								
							</div>
						</div>

					</div>
				</div>

			</div>
		</div>		
	</div>	<!-- Footer -->

	<footer class="footer">
		<div class="container">
			
		</div>
	</footer>

	<!-- Copyright -->

	

</div>

<script src="static/js/jquery-3.2.1.min.js"></script>
<script src="static/styles/bootstrap4/popper.js"></script>
<script src="static/styles/bootstrap4/bootstrap.min.js"></script>
<script src="static/plugins/Isotope/isotope.pkgd.min.js"></script>
<script src="static/plugins/easing/easing.js"></script>
<script src="static/plugins/parallax-js-master/parallax.min.js"></script>
<script src="static/js/offers_custom.js"></script>

</body>

</html>