<!DOCTYPE html>
<html lang="en">
<head>
<title>Agra</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Travelix Project">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="static/styles/bootstrap4/bootstrap.min.css">
<link href="static/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="static/styles/offers_styles.css">
<link rel="stylesheet" type="text/css" href="static/styles/offers_responsive.css">
	 <style>
		        p{text-align: justify;}
		        </style>
</head>

<body>

<div class="super_container">
	
	<!-- Header -->

	<header class="header">

		<!-- Top Bar -->

		

		<!-- Main Navigation -->

		<nav class="main_nav">
			<div class="container">
				<div class="row">
					<div class="col main_nav_col d-flex flex-row align-items-center justify-content-start">
						
						<div class="col-md-12">
						<div class="main_nav_container ml-auto">
							<ul class="main_nav_list">
								<li class="main_nav_item"><a href="{{url_for('index')}}">HOME</a></li>
								
								</a></li>
								
							</ul>
						</div>
						</div>
						

						<form id="search_form" class="search_form bez_1">
							<input type="search" class="search_content_input bez_1">
						</form>
						
						<div class="hamburger">
							<i class="fa fa-bars trans_200"></i>
						</div>
					</div>
				</div>
			</div>	
		</nav>

	</header>

	<div class="menu trans_500">
		<div class="menu_content d-flex flex-column align-items-center justify-content-center text-center">
			<div class="menu_close_container"><div class="menu_close"></div></div>
			<div class="logo menu_logo"><a href="#"><img src="images/logo.png" alt=""></a></div>
			<ul>
				<li class="menu_item"><a href="{{url_for('index')}}">home</a></li>
				
			</ul>
		</div>
	</div>

	<!-- Home -->

	<div class="home">
		<div class="home_background parallax-window" data-parallax="scroll" data-image-src="static/images/agra.jpeg"></div>
		
	</div>

	<!-- Offers -->

	<div class="offers">

		<!-- Search -->

		<div class="search">
			<div class="search_inner">

				<!-- Search Contents -->
				
				<div class="container fill_height no-padding">
					<div class="row fill_height no-margin">
						<div class="col fill_height no-padding">

							<!-- Search Tabs --><div class="home_title"><center>Agra</center></div>
				

								
							</div>

							<!-- Search Panel -->

							<div class="search_panel active">
								
							</div>
						</div>
					</div>
				</div>	
			</div>	
		</div>

		<!-- Offers -->

		<div class="container">
			<div class="row">
				<div class="col-lg-1 temp_col"></div>
				<div class="col-lg-11">
					
					<!-- Offers Sorting -->
					
				</div>

				<div class="col-lg-12">
					<!-- Offers Grid -->

					<div class="offers_grid">

						<!-- Offers Item -->

						<div class="offers_item rating_4">
							<div class="row">
								<div class="col-lg-1 temp_col"></div>
								<div class="col-lg-3 col-1680-4">
									<div class="offers_image_container">
										<!-- Image by https://unsplash.com/@kensuarez -->
										<div class="offers_image_background" style="background-image:url(static/images/taj.jpg)"></div>
										<div class="offer_name"><a href="single_listing.html">Taj Mahal</a></div>
									</div>
								</div>
								<div class="col-lg-8">
									<div class="offers_content">
										<div class="offers_price">Taj Mahal</div>
										<div class="rating_r rating_r_4 offers_rating" data-rating="4">
											<i></i>
											<i></i>
											<i></i>
											<i></i>
											<i></i>
										</div>
										<div class="offers_text">
											<p>What is widely considered as the most beautiful building in the world, Taj Mahal is located in the historical city of Agra. It was built by the Mughal Emperor Shah Jahan as a memorial for his third wife, Mumtaz Mahal. Constructed entirely out of white marble in the 17th century, it is among the finest edifices of Mughal architecture. Recognised by the UNESCO as a world heritage site, this monument is also considered to be one of the seven wonders of the modern world. Every year visitors numbering more than the entire population of Agra pass through the magnificent gates to catch a glimpse of this breathtaking monument, and only a few leave disappointed. Shah Jahan said about the Taj that it made "the sun and the moon shed tears from their eyes".

</p></div>
										
										<div class="button book_button"><a href="https://www.tajmahal.gov.in/">Know more<span></span><span></span><span></span></a></div>
										
									</div>
								</div>
							</div>
						</div>

						<!-- Offers Item -->

						<div class="offers_item rating_3">
							<div class="row">
								<div class="col-lg-1 temp_col"></div>
								<div class="col-lg-3 col-1680-4">
									<div class="offers_image_container">
										<!-- Image by https://unsplash.com/@thoughtcatalog -->
										<div class="offers_image_background" style="background-image:url(static/images/fort.jpg)"></div>
										<div class="offer_name"><a href="single_listing.html">Agra fort</a></div>
									</div>
								</div>
								<div class="col-lg-8">
									<div class="offers_content">
										<div class="offers_price">Agra Fort</div>
										<div class="rating_r rating_r_3 offers_rating" data-rating="3">
											<i></i>
											<i></i>
											<i></i>
											<i></i>
											<i></i>
										</div>
										<p class="offers_text">An architectural masterpiece, The Red Fort of Agra or Agra Fort was built by Emperor Akbar in 1573. It is, in fact, a massive fortification located on the right bank of the River Yamuna in Agra, Uttar Pradesh and is made entirely of red sandstone. The fort was once the ersthwhile residence of the Mughals until the year 1638. One of the UNESCO World Heritage Sites and lies at a distance of 2.5 kilometres from another wonder of the modern world - The Famous Taj Mahal. The area of Agra Fort is so massive that it is often referred to as a walled city.  Made from red sandstone brought to Agra all the way from Rajasthan, this imposing structure is as majestic as it is beautiful and delicate. </p>
										
										<div class="button book_button"><a href="https://www.agrafort.gov.in/indexNew/index.html">Know more<span></span><span></span><span></span></a></div>
									</div>
								</div>
							</div>
						</div>

						<!-- Offers Item -->

						<div class="offers_item rating_5">
							<div class="row">
								<div class="col-lg-1 temp_col"></div>
								<div class="col-lg-3 col-1680-4">
									<div class="offers_image_container">
										<!-- Image by https://unsplash.com/@mindaugas -->
										<div class="offers_image_background" style="background-image:url(static/images/itmad.jpg)"></div>
										<div class="offer_name"><a href="#">Itmad-ud-daula</a></div>
									</div>
								</div>
								<div class="col-lg-8">
									<div class="offers_content">
										<div class="offers_price">Itmad-ud-daula</div>
										<div class="rating_r rating_r_5 offers_rating"  data-rating="5">
											<i></i>
											<i></i>
											<i></i>
											<i></i>
											<i></i>
										</div>
										<p class="offers_text">Nicknamed the Baby Taj, the exquisite tomb of Mizra Ghiyas Beg should not be missed. This Persian nobleman was Mumtaz Mahal’s grandfather and Emperor Jehangir’s wazir (chief minister). His daughter, Nur Jahan, who married Jehangir, built the tomb between 1622 and 1628, in a style similar to the tomb she built for Jehangir near Lahore in Pakistan.</p>
										
										<div class="button book_button"><a href="https://www.tajmahal.gov.in/ticketing1.html">Know more<span></span><span></span><span></span></a></div>
										
									<div class="offer_reviews">
											
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="offers_item rating_3">
							<div class="row">
								
							</div>
						</div>

					</div>
				</div>

			</div>
		</div>		
	</div>	<!-- Footer -->

	<footer class="footer">
		<div class="container">
			
		</div>
	</footer>

	<!-- Copyright -->

	

</div>

<script src="static/js/jquery-3.2.1.min.js"></script>
<script src="static/styles/bootstrap4/popper.js"></script>
<script src="static/styles/bootstrap4/bootstrap.min.js"></script>
<script src="static/plugins/Isotope/isotope.pkgd.min.js"></script>
<script src="static/plugins/easing/easing.js"></script>
<script src="static/plugins/parallax-js-master/parallax.min.js"></script>
<script src="static/js/offers_custom.js"></script>

</body>

</html>